<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
   logo: "<%= image_path('logo.png') %>",
   loading: "<%= image_path('loading-2.gif') %>",
   search_icon: "<%= image_path('search_icon.png') %>",
   upvote_before: "<%= image_path('upvote-hollow.png') %>",
   downvote_before: "<%= image_path('downvote-hollow.png') %>",
   downvote_after: "<%= image_path('downvote.png') %>",
   upvote_after: "<%= image_path('upvote.png') %>",
   favorite: "<%= image_path('favorite.png') %>",
   logo2: "<%= image_path('logo-2.png') %>",
   gir: "<%= image_path('gir.png') %>",
   upload: "<%= image_path('upload.png') %>",
   back2show: "<%= image_path('gir-back-to-show.png') %>",
   upload_giraffe: "<%= image_path('upload-giraffe.png') %>",
   upload_pointer: "<%= image_path('upload-pointer.png') %>",
   linkedin_icon: "<%= image_path('linkedin_icon.png')%>",
   github_icon: "<%= image_path('github_icon.png')%>",
   resume_icon: "<%= image_path('resume_icon.png')%>",
 }
</script>
<main id="root">its not working</main>
