<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
   logo: "<%= image_path('logo.png') %>",
   downvote: "<%= image_path('downvote.png') %>",
   upvote: "<%= image_path('upvote.png') %>",
   favorite: "<%= image_path('favorite.png') %>",
   logo2: "<%= image_path('logo-2.png') %>",
   gir: "<%= image_path('gir.png') %>",
   upload: "<%= image_path('upload.png') %>",
   back2show: "<%= image_path('gir-back-to-show.png') %>"
 }
</script>
<main id="root">its not working</main>
